In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    r"C:\Users\navya\Desktop\spotify analysis project\proze\customer_shopping_behavior.csv"
)

In [5]:
df.head(10)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
5,6,46,Male,Sneakers,Footwear,20,Wyoming,M,White,Summer,2.9,Yes,Standard,Yes,Yes,14,Venmo,Weekly
6,7,63,Male,Shirt,Clothing,85,Montana,M,Gray,Fall,3.2,Yes,Free Shipping,Yes,Yes,49,Cash,Quarterly
7,8,27,Male,Shorts,Clothing,34,Louisiana,L,Charcoal,Winter,3.2,Yes,Free Shipping,Yes,Yes,19,Credit Card,Weekly
8,9,26,Male,Coat,Outerwear,97,West Virginia,L,Silver,Summer,2.6,Yes,Express,Yes,Yes,8,Venmo,Annually
9,10,57,Male,Handbag,Accessories,31,Missouri,M,Pink,Spring,4.8,Yes,2-Day Shipping,Yes,Yes,4,Cash,Quarterly

In [7]:
df.shape

(3900, 18)

In [9]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [13]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [15]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median))

In [17]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [19]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')

In [21]:
df= df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})

In [23]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [25]:
labels = ['Young Adult','Adult','Middle-Aged','Senior']
df['age_group'] = pd.qcut(df['age'],q=4,labels=labels)

In [27]:
df[['age','age_group','location']].head(5)

   age    age_group       location
0   55  Middle-Aged       Kentucky
1   19  Young Adult          Maine
2   50  Middle-Aged  Massachusetts
3   21  Young Adult   Rhode Island
4   45  Middle-Aged         Oregon

In [29]:
frequency_mapping = {
    'Fortnightly': 14,
    'Weekly': 7,
    'Monthly': 30,
    'Quarterly': 90,
    'Bi-Weekly': 14,
    'Annually': 365,
    'Every 3 Months':90
}

In [31]:
df['purchase_frequency_of_days']=df['frequency_of_purchases'].map(frequency_mapping)

In [33]:
df[['purchase_frequency_of_days','frequency_of_purchases']]

      purchase_frequency_of_days frequency_of_purchases
0                             14            Fortnightly
1                             14            Fortnightly
2                              7                 Weekly
3                              7                 Weekly
4                            365               Annually
...                          ...                    ...
3895                           7                 Weekly
3896                          14              Bi-Weekly
3897                          90              Quarterly
3898                           7                 Weekly
3899                          90              Quarterly

[3900 rows x 2 columns]

In [35]:
(df['discount_applied']==df['promo_code_used']).all()

True

In [37]:
df=df.drop('promo_code_used',axis=1)

In [39]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_of_days'],
      dtype='object')

In [41]:
pip install psycopg2-binary sqlalchemy

Requirement already satisfied: psycopg2-binary in c:\users\navya\anaconda3\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\users\navya\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\navya\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\navya\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [43]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "blehblehsql" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_behavior"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

ProgrammingError: (psycopg2.ProgrammingError) can't adapt type 'method'
[SQL: INSERT INTO customer (customer_id, age, gender, item_purchased, category, purchase_amount, location, size, color, season, review_rating, subscription_status, shipping_type, discount_applied, previous_purchases, payment_method, frequency_of_purchases, ... 438855 characters truncated ... od__999)s, %(frequency_of_purchases__999)s, %(age_group__999)s, %(purchase_frequency_of_days__999)s)]
[parameters: {'discount_applied__0': 'Yes', 'shipping_type__0': 'Express', 'frequency_of_purchases__0': 'Fortnightly', 'season__0': 'Winter', 'subscription_status__0': 'Yes', 'purchase_frequency_of_days__0': 14, 'category__0': 'Clothing', 'gender__0': 'Male', 'age_group__0': 'Middle-Aged', 'payment_method__0': 'Venmo', 'previous_purchases__0': 14, 'age__0': 55, 'size__0': 'L', 'review_rating__0': 3.1, 'purchase_amount__0': 53, 'location__0': 'Kentucky', 'color__0': 'Gray', 'item_purchased__0': 'Blouse', 'customer_id__0': 1, 'discount_applied__1': 'Yes', 'shipping_type__1': 'Express', 'frequency_of_purchases__1': 'Fortnightly', 'season__1': 'Winter', 'subscription_status__1': 'Yes', 'purchase_frequency_of_days__1': 14, 'category__1': 'Clothing', 'gender__1': 'Male', 'age_group__1': 'Young Adult', 'payment_method__1': 'Cash', 'previous_purchases__1': 2, 'age__1': 19, 'size__1': 'L', 'review_rating__1': 3.1, 'purchase_amount__1': 64, 'location__1': 'Maine', 'color__1': 'Maroon', 'item_purchased__1': 'Sweater', 'customer_id__1': 2, 'discount_applied__2': 'Yes', 'shipping_type__2': 'Free Shipping', 'frequency_of_purchases__2': 'Weekly', 'season__2': 'Spring', 'subscription_status__2': 'Yes', 'purchase_frequency_of_days__2': 7, 'category__2': 'Clothing', 'gender__2': 'Male', 'age_group__2': 'Middle-Aged', 'payment_method__2': 'Credit Card', 'previous_purchases__2': 23, 'age__2': 50 ... 18900 parameters truncated ... 'gender__997': 'Male', 'age_group__997': 'Senior', 'payment_method__997': 'Cash', 'previous_purchases__997': 31, 'age__997': 64, 'size__997': 'M', 'review_rating__997': 3.6, 'purchase_amount__997': 30, 'location__997': 'Kentucky', 'color__997': 'Cyan', 'item_purchased__997': 'Pants', 'customer_id__997': 998, 'discount_applied__998': 'Yes', 'shipping_type__998': 'Next Day Air', 'frequency_of_purchases__998': 'Bi-Weekly', 'season__998': 'Spring', 'subscription_status__998': 'Yes', 'purchase_frequency_of_days__998': 14, 'category__998': 'Footwear', 'gender__998': 'Male', 'age_group__998': 'Middle-Aged', 'payment_method__998': 'Bank Transfer', 'previous_purchases__998': 48, 'age__998': 51, 'size__998': 'M', 'review_rating__998': 3.8, 'purchase_amount__998': 90, 'location__998': 'Connecticut', 'color__998': 'White', 'item_purchased__998': 'Shoes', 'customer_id__998': 999, 'discount_applied__999': 'Yes', 'shipping_type__999': 'Standard', 'frequency_of_purchases__999': 'Monthly', 'season__999': 'Spring', 'subscription_status__999': 'Yes', 'purchase_frequency_of_days__999': 30, 'category__999': 'Clothing', 'gender__999': 'Male', 'age_group__999': 'Middle-Aged', 'payment_method__999': 'Debit Card', 'previous_purchases__999': 23, 'age__999': 50, 'size__999': 'L', 'review_rating__999': 2.9, 'purchase_amount__999': 28, 'location__999': 'New Mexico', 'color__999': 'Brown', 'item_purchased__999': 'Socks', 'customer_id__999': 1000}]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [45]:
df.applymap(callable).any()

C:\Users\navya\AppData\Local\Temp\ipykernel_15888\1271656323.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(callable).any()

customer_id                   False
age                           False
gender                        False
item_purchased                False
category                      False
purchase_amount               False
location                      False
size                          False
color                         False
season                        False
review_rating                  True
subscription_status           False
shipping_type                 False
discount_applied              False
previous_purchases            False
payment_method                False
frequency_of_purchases        False
age_group                     False
purchase_frequency_of_days    False
dtype: bool

In [47]:
df.loc[df['review_rating'].apply(callable), 'review_rating']

38      <bound method Series.median of 0       3.1\n1 ...
50      <bound method Series.median of 0       3.1\n1 ...
80      <bound method Series.median of 3       3.5\n5 ...
96      <bound method Series.median of 9       4.8\n16...
262     <bound method Series.median of 0       3.1\n1 ...
330     <bound method Series.median of 0       3.1\n1 ...
356     <bound method Series.median of 0       3.1\n1 ...
383     <bound method Series.median of 9       4.8\n16...
419     <bound method Series.median of 0       3.1\n1 ...
442     <bound method Series.median of 9       4.8\n16...
452     <bound method Series.median of 0       3.1\n1 ...
460     <bound method Series.median of 3       3.5\n5 ...
491     <bound method Series.median of 8       2.6\n12...
512     <bound method Series.median of 9       4.8\n16...
560     <bound method Series.median of 9       4.8\n16...
628     <bound method Series.median of 0       3.1\n1 ...
799     <bound method Series.median of 9       4.8\n16...
829     <bound method Series.median of 0       3.1\n1 ...
861     <bound method Series.median of 0       3.1\n1 ...
888     <bound method Series.median of 9       4.8\n16...
1072    <bound method Series.median of 0       3.1\n1 ...
1109    <bound method Series.median of 0       3.1\n1 ...
1124    <bound method Series.median of 0       3.1\n1 ...
1134    <bound method Series.median of 0       3.1\n1 ...
1151    <bound method Series.median of 0       3.1\n1 ...
1176    <bound method Series.median of 0       3.1\n1 ...
1189    <bound method Series.median of 0       3.1\n1 ...
1208    <bound method Series.median of 3       3.5\n5 ...
1220    <bound method Series.median of 9       4.8\n16...
1230    <bound method Series.median of 9       4.8\n16...
1247    <bound method Series.median of 0       3.1\n1 ...
1292    <bound method Series.median of 9       4.8\n16...
1313    <bound method Series.median of 3       3.5\n5 ...
1326    <bound method Series.median of 3       3.5\n5 ...
1334    <bound method Series.median of 8       2.6\n12...
1341    <bound method Series.median of 0       3.1\n1 ...
1370    <bound method Series.median of 9       4.8\n16...
Name: review_rating, dtype: object

In [49]:
df['review_rating'] = pd.to_numeric(df['review_rating'], errors='coerce')

In [51]:
df['review_rating'] = (
    df.groupby('category')['review_rating']
      .transform(lambda x: x.fillna(x.median()))
)

In [53]:
df.applymap(callable).any()

C:\Users\navya\AppData\Local\Temp\ipykernel_15888\1271656323.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(callable).any()

customer_id                   False
age                           False
gender                        False
item_purchased                False
category                      False
purchase_amount               False
location                      False
size                          False
color                         False
season                        False
review_rating                 False
subscription_status           False
shipping_type                 False
discount_applied              False
previous_purchases            False
payment_method                False
frequency_of_purchases        False
age_group                     False
purchase_frequency_of_days    False
dtype: bool

In [55]:
df['review_rating']

0       3.1
1       3.1
2       3.1
3       3.5
4       2.7
       ...
3895    4.2
3896    4.5
3897    2.9
3898    3.8
3899    3.1
Name: review_rating, Length: 3900, dtype: float64

In [57]:
df.isnull().sum()

customer_id                   0
age                           0
gender                        0
item_purchased                0
category                      0
purchase_amount               0
location                      0
size                          0
color                         0
season                        0
review_rating                 0
subscription_status           0
shipping_type                 0
discount_applied              0
previous_purchases            0
payment_method                0
frequency_of_purchases        0
age_group                     0
purchase_frequency_of_days    0
dtype: int64

In [59]:
from sqlalchemy import create_engine

# Step 1: Connect to PostgreSQL
# Replace placeholders with your actual details
username = "postgres"      # default user
password = "blehblehsql" # the password you set during installation
host = "localhost"         # if running locally
port = "5432"              # default PostgreSQL port
database = "customer_behavior"    # the database you created in pgAdmin

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

# Step 2: Load DataFrame into PostgreSQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Data successfully loaded into table 'customer' in database 'customer_behavior'.